@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}



body, html {
  height: 100%;
}


.bg {
  background-image: url("img_girl.jpg");

  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


  h1 {
      background: #091d6b;
      font-size: 1.75rem;
      text-align: center;
      padding: 18px 0;
      color: #fff;
  }

.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}
.weather-input {
  width: 550px;
}
.weather-input input {
  height: 46px;
  width: 100%;
  outline: none;
  font-size: 1.07rem;
  padding: 0 17px;
  margin: 10px 0 20px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.weather-input input:focus {
  padding: 0 16px;
  border: 2px solid #5372F0;
}


.weather-input button {
  width: 33%;
  padding: 45px 8px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  color: #fff;
  background: #5372F0;
  transition: 0.2s ease;
}




.weather-input .search-btn:hover {
  background: #2c52ed;
}
.weather-input .location-btn {
  background: #314353;
}
.weather-input .location-btn:hover {
  background: #5c636a;
}
.weather-data {
  width: 100%;
}
.weather-data .current-weather {
  color: #fff;
  background: #213eb4;
  border-radius: 5px;
  padding: 20px 70px 20px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}
.current-weather h2 {  
  font-weight: 700;
  font-size: 1.7rem;
}
.weather-data h6 { 
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}
.current-weather .icon {
  text-align: center;
}
.current-weather .icon img {
  max-width: 120px;
  margin-top: -15px;
}
.current-weather .icon h6 {  
  margin-top: -10px;
  text-transform: capitalize;
}
.days-forecast h2 { 
  margin: 20px 0;
  font-size: 1.5rem;
}
.days-forecast .weather-cards {
  display: flex;
  gap: 20px;
}
.weather-cards .card {
  color: #fff;
  padding: 18px 16px;
  list-style: none;
  width: calc(100% / 5);
  background: #314353;
  border-radius: 30px;
}


.weather-cards .historical-card {
  
  color: #fff;
  padding: 18px 16px;
  list-style: none;
  width: calc(100% / 5);
  background: #314353;
  border-radius: 30px;
}


.weather-cards .card h3 {    
  font-size: 1.3rem;
  font-weight: 600;
}

.weather-cards .historical-card h3 {    
  font-size: 1.3rem;
  font-weight: 600;
}



.weather-cards .card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}

.weather-cards .historical-card img {
  max-width: 70px;
  margin: 5px 0 -12px 0;
}



@media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 20px;
  }
  .weather-cards {
    flex-wrap: wrap;
  }
  .weather-cards .card {
    width: calc(100% / 4 - 15px);
  }
  .weather-cards .historical-card {
    width: calc(100% / 4 - 15px);
  }
}
@media (max-width: 1200px) {
  .weather-cards .card {
    width: calc(100% / 3 - 15px);
  }
  .weather-cards .historical-card {
    width: calc(100% / 3 - 15px);
  }

}
@media (max-width: 950px) {
  .weather-input {
    width: 450px;
  }
  .weather-cards .card {
    width: calc(100% / 2 - 10px);
  }
  .weather-cards .historical-card {
    width: calc(100% / 2 - 10px);
  }



}
@media (max-width: 750px) {
  h1 {
    font-size: 1.45rem;
    padding: 16px 0;
  }

  .container {
    flex-wrap: wrap;
    padding: 15px;
  }

  .weather-input {
    width: 100%;
  }

  .weather-data h2 {
    font-size: 1.35rem;
  }
}



/* Nav bar*/
header[role="banner"] {
    #logo-main {
      display: block;
      margin: 20px auto;
    }
  }


  .navbar>.container, .navbar>.container-fluid {
    flex-direction: column;
  }


  #navbar-primary.navbar-default {
    background: transparent;
    border: none;
    .navbar-nav { 
      width: 100%;
      text-align: center;
      > li {
        display: inline-block;
        float: none;
        > a {
          padding-left: 30px;
          padding-right: 30px;
          }
      }
    }
  }


.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

.navbar-scroll {
  background-color: #FFC017;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #262626;
}

.navbar-scrolled {
  background-color: #ffffff;
}

.navbar.navbar-scroll.navbar-scrolled {
  padding-top: auto;
  padding-bottom: auto;
}
.navbar-brand {
  font-size: unset;
  height: 3.5rem;
}
  

 #map {
  width: 38%;
  height: 321px;
  margin-top: 30px;
  margin-left: 32%;
  margin-bottom: 30px;
} 


.navbar {
  background-color: black; 
}

.navbar-nav .nav-link {
  color: white !important; 
}

.bg-light2 {
  background-color: #020e1a!important;
}


.about-img:before {
  position: absolute;
  content: '';
  right: 27px;
  top: -3px;
  border: 9px solid rgba(255, 255, 255, 0.5);
  width: 121%;
  height: 114%;
}




@media(max-width:430px){
  .about-text h2 {
    color: rgb(127, 127, 157);
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-left: 96px;
}

.about-img:before {
  position: absolute;
  content: '';
  right: -12px;
  top: -7px;
  border: 9px solid rgba(255, 255, 255, 0.5);
  width: 106%;
  height: 116%;
}

.about-text p {
  color: rgb(202, 202, 223);
  margin-left: 34px;
}
}

@media(max-width:780px){
  .about-img:before {
    position: absolute;
    content: '';
    right: -24px;
    top: -7px;
    border: 9px solid rgba(255, 255, 255, 0.5);
    width: 107%;
    height: 118%;
}
}


.historical-cards-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.historical-card {
  position: relative;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  
}

img {
  max-width: 200px; 
  height: auto;
}

@media(max-width:360px){
.weather-cards .card h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
}

@media (max-width: 341px){
.weather-cards .card h3 {
    font-size: 1.0rem;
    font-weight: 600;
}
}

@media(max-width:325px){
.weather-cards .historical-card h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
}